html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#contenido{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: aquamarine;
}

.articulo{
    position: relative;
    top: 5%;
    width: 90%;
    height: 50%;
    left: 5%;
    background-color: blue;
    margin-bottom: 5%;
}

.articulo .encabezado{
    position: relative;
    width: 100%;
    height: 16.66%;
    border-bottom: solid white 1px;
}