ul{
    list-style-position: inside;
    list-style-image: url(Spr_5b2_025_m.png);
}

ol{
    list-style-type: lower-alpha;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}