html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0px;
}

#menu{
    position: fixed;
    height: calc(71px * 5);
    width: 70px;
    top: 25%;
    background-color: yellow;
    transition: all 500ms;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 50px;
}

#menu:hover{
    width: 250px;
}


.item{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid black;
    overflow: hidden;
}

.item .imagen{
    position: relative;
    float: right;
    height: 70px;
    width: 70px;
    left: 0px;
}

.item .descripcion{

    position: relative;
    float: right;
    height: 70px;
    width: 150px;
}

#item1{
    background-image: url("imagen/salad.png");
    background-size: contain;
}